body {
    background-color: rgb(58, 58, 58);
    color:rgb(247, 236, 17);
    font-family: "Jim Nightshade", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #c60707;
    color: white;
    font-family: "Jim Nightshade", cursive;

}
